// $accent: #2b4074;
// $text-color: #4a4a4a;
// $bg-color: #f9f6e5;
// $default-color: #9B9B9B;
// $white-color: #ffffff;

%gilroy-300{
    font-family: 'Gilroy-Light';
    font-weight: 300;
}

%gilroy-800{
    font-family: 'Gilroy-ExtraBold';
    font-weight: 800;
}

%playfairdisplay-400{
    font-family: 'PlayfairDisplay-Regular';
    font-weight: 400;
}